{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Esta aplicação gerencia vestibulares</p>
<p>Em 1987, as Faculdades Integradas da Apec ganharam o status de Universidade do Oeste Paulista (Unoeste). Nasce, então, a Faculdade de Ciência da Computação de Presidente Prudente (FACC), pioneira no Estado de São Paulo, ofertando o curso superior de Tecnologia em Processamento de Dados, com início de funcionamento em agosto desse ano.</p>
<p>Em dezembro de 1988, a graduação passou por uma importante mudança e foi convertida, com as devidas adaptações, para bacharelado em Ciência da Computação. Na ocasião, alterou-se, também, o nome de Faculdade de Ciência da Computação de Presidente Prudente (FACC-PP) para Faculdade de Informática de Presidente Prudente (FIPP).</p>

{% endblock %}
