{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua José Bongiovani, 700 - CEP 19050-920
Bloco H - 1º andar - Presidente Prudente SP<br />
    <abbr title="Telefone">Tel:</abbr>
(18) 3229-1060

</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
